$app-preview__sections___color: #868686
$app-preview__star___color:  #d6d6d6
$app-preview__like___color:  #ff3a2b
$app-preview__like--dislike___color:  #aeaeae
$app-preview__external-link___color:  #b3c3d3
$app-preview__social-links___color:  #7a96b2

.app-preview
  display: flex
  &__icon
    flex: 0 0 56px
    margin-right: 20px
    img
      @include img-responsive
  &__content
    flex: 1 1 auto
    margin-right: $margin-base
  &__title
    margin: 0
  &__sections
    color: $app-preview__sections___color
  &__sections, &__desc, &__tags
    margin-top: rem(5)
  &__tags
    font-size: rem(12)
  &__buttons
    .button
      margin-top: rem(14)
      margin-right: rem(10)
  &__tags
    font-size: rem(12)
  &__head
    display: flex
    flex-wrap: wrap
    .app-preview__title
      flex-grow: 1
    .app-preview__user-stts
      justify-content: flex-end
      display: flex
  &__star
    font-weight: 700
    span:first-child
    span:last-child
      margin-left: rem(5)
      &::before
        color: $app-preview__star___color

.app-preview--detail
  .app-preview
    &__head
    &__user-stts
      div
        margin-right: rem(10)
    &__like
      span:first-child
        margin-right: rem(3)
      span
        color: $app-preview__like___color
        &::before
          color: $app-preview__like___color
    &__like--dislike
      span
        color:  $app-preview__like--dislike___color
        &::before
          color: $app-preview__like--dislike___color
    &__external-link
      cursor: pointer
      span
        &::before
          color: $app-preview__external-link___color
    &__social-links
      margin-top: rem(5)
      a
        margin-right: rem(10)
        color: $app-preview__social-links___color
        span:first-child
          margin-right: rem(2)
          font-size: rem(16)
      // margin-top: rem(10)
    &__images
      margin-top: rem(14)
    &__tags
      margin-top: rem(14)
    &__buttons
      @include column('24/24', $gut: 0)
      .button--actions
        float: right

@media (max-width: $screen-sm-max)
  .app-preview
    &--altr
      .app-preview
        &__desc, &__tags
          display: none
